.col-12.col-sm-12.col-lg-12
  .row.vishnu
    - @posts.each do |post|
      .col-sm-6.col-md-4.post-box
        .thumbnail
          %img{:alt => post.title , :src => post.images.first}
            .caption
              %h5= link_to post.title, url_with_protocol(post.links), :target => '_blank' 
              %p= post.description.truncate(50)
            .caption
              = raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
  = will_paginate @posts