.col-3.col-sm-12.col-lg-3
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Tag Cloud
    .panel-body
      #tag_cloud
        - tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class|
          = link_to tag.name, tag_path(tag.name), class: css_class
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Users
    .panel-body
      = raw User.all.first(10).map { |u| link_to u.email, user_posts_path(user_id: u) }.join('<br/>')